.question-waiting-bar {
  transition: all 20s ease-in-out;
  transform: translateX(100%);
}
.question-end-bar {
  transition: all 1.5s ease-in-out;
  transform: translateX(100%);
}

.chat-input::placeholder {
  color: white;
  opacity: 1;
}

.chat-input {
  border-style: none;
}
